@using System.Configuration
@{
	ViewBag.Title = "D3.js";
}

@section style{
	<style>
		svg {
			border: 1px solid rgb(160, 160, 160);
		}

		select {
			width: 100%;
			height: 28px;
			font-size: 16px;
		}

		.post {
			fill: rgb(0, 184, 255);
		}

			.post:hover, .copy:hover {
				stroke: black;
			}

		.copy {
			fill: orange;
		}

		.col_1, .col_2, .col_3 {
			width: 80px;
		}

		.ngrs-range-slider {
			margin: 0 !important;
		}

		.nav, .pagination, .carousel, .panel-title a {
			cursor: pointer;
		}

		.node {
			stroke: #fff;
			stroke-width: 1.5px;
		}

		.link {
			
		}
	</style>
}

@section header
{
	<h2 class="page-title">Data-Driven Documents<small> is a JavaScript library for manipulating documents based on data.</small></h2>
}

<div id="ctrlzone" ng-controller="treeController" style="display: none;">

	<progressbar ng-show="conf.isBusy" class="progress-striped active" value="100" type="info">loading...</progressbar>

	<tabset>
		<tab heading="User">
			<progressbar class="progress-striped active" value="bigdata.length" type="info">{{ bigdata.length }}</progressbar>
			<button class="btn btn-info" ng-click="testGraph()">Load Info</button>
			<button class="btn btn-info" ng-click="createGraph()">Create graph</button>
			<div svgfriend></div>
			<div class="row">
				<div class="col-sm-6">
					<h4>Dot scale:</h4>
					<div class="row" style="margin-bottom: 10px;">
						<div class="col-sm-3">
							<input type="text" ng-model="profile.graph.scale" style="width: 80px;" />
						</div>
						<div class="col-sm-9">
							<div range-slider min="2" max="20" model-max="profile.graph.scale" pin-handle="min" step="2"></div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<h4>Dot distance:</h4>
					<div class="row" style="margin-bottom: 10px;">
						<div class="col-sm-3">
							<input type="text" ng-model="profile.graph.dist" style="width: 80px;" />
						</div>
						<div class="col-sm-9">
							<div range-slider min="20" max="200" model-max="profile.graph.dist" pin-handle="min" step="20"></div>
						</div>
					</div>
				</div>
			</div>
		</tab>
		<tab heading="Posts">
			<div class="row">
				<div class="col-sm-3">
					<div style="margin-bottom: 10px;">
						<select ng-disabled="profile.posts.length != 0" ng-model="profile.current" ng-options="f.last_name + ' ' + f.first_name for f in friends | orderBy:['last_name']" style="margin-bottom: 5px;"></select>
						<a ng-show="profile.posts.length == 0" class="btn btn-info btn-block" ng-click="loadPosts()">
							<i class="fa fa-cloud-download"></i>Load posts
						</a>
						<a ng-show="profile.posts.length != 0" class="btn btn-warning btn-block" ng-click="clearPosts()">
							<i class="glyphicon glyphicon-remove-circle"></i>Clear data
						</a>
						<a ng-show="profile.posts.length != 0" class="btn btn-info btn-block" ng-click="showConfetti('likes')">
							<i class="fa fa-thumbs-up"></i>by Likes
						</a>
						<a ng-show="profile.posts.length != 0" class="btn btn-info btn-block" ng-click="showConfetti('comments')">
							<i class="eicon eicon-comment"></i>by Comments
						</a>
						<a ng-show="profile.posts.length != 0" class="btn btn-info btn-block" ng-click="showConfetti('reposts')">
							<i class="fa fa-retweet"></i>by Reposts
						</a>
					</div>
				</div>
				<div class="col-sm-9">
					<ol class="breadcrumb" ng-hide="profile.posts.length == 0">
						<li class="active">sorting by {{ profile.posttype }}</li>
						<li>original: {{ countPost('post').length }}</li>
						<li>reposts: {{ countPost('copy').length }}</li>
					</ol>

					<div class="row">
						<div class="col-sm-6">
							<h4>Dot scale:</h4>
							<div class="row" style="margin-bottom: 10px;">
								<div class="col-sm-3">
									<input type="text" ng-model="profile.dotconfig.scale" style="width: 80px;" />
								</div>
								<div class="col-sm-9">
									<div range-slider min="0" max="50" model-max="profile.dotconfig.scale" pin-handle="min"></div>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<h4>Dot distance:</h4>
							<div class="row" style="margin-bottom: 10px;">
								<div class="col-sm-3">
									<input type="text" ng-model="profile.dotconfig.dist" style="width: 80px;" />
								</div>
								<div class="col-sm-9">
									<div range-slider min="20" max="400" model-max="profile.dotconfig.dist" pin-handle="min" step="50"></div>
								</div>
							</div>
						</div>
					</div>

					<div class="row" style="margin-bottom: 10px;">
						<div class="col-sm-12">
							<h4>Dot min-max:</h4>
							<div class="row" style="margin-bottom: 10px;">
								<div class="col-sm-3">
									<input type="text" ng-model="profile.dotconfig.low" style="width: 80px;" />
									<input type="text" ng-model="profile.dotconfig.high" style="width: 80px;" />
								</div>
								<div class="col-sm-9">
									<div range-slider
									     min="conf.low"
									     max="conf.high"
									     model-min="profile.dotconfig.low"
									     model-max="profile.dotconfig.high"
									     step="5">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div svgposts></div>
		</tab>
	</tabset>

	<table style="margin-top: 10px;" class="table table-bordered table-striped" ng-hide="profile.dots.length == 0">
		<tr>
			<td class="col_1">post id</td>
			<td class="col_2">val</td>
			<td class="col_3">type</td>
			<td class="col_4">
				<a ng-click="clearDots()" class="btn btn-inverse btn-block">Clear dots</a>
			</td>
		</tr>
		<tr ng-repeat="d in profile.dots track by $index">
			<td class="col_1">{{ d.postid }}</td>
			<td class="col_2">{{ d.val }}</td>
			<td class="col_3">{{ d.type }}</td>
			<td class="col_4">{{ d.url }}</td>
		</tr>
	</table>

</div>

@section scripts
{
	<script src="~/mainApp/svg.vk.post.js"></script>
	<script src="~/mainApp/svg.friend.graph.js"></script>
	<script src="~/Scripts/localForage/localforage.js"></script>

	<script type="text/javascript">
		'use sctrict';

		$(document).ready(function() { $('#ctrlzone').show(); });

		var token = '@Html.Raw(ConfigurationManager.AppSettings["vkToken"])';
		mainModule.value('vk_id', '@Html.Raw(ViewBag.ID)');

		mainModule.controller('treeController', function($scope, $timeout, vkService, show, vk_id) {
			$scope.conf = { low: 0, high: 700, isBusy: true };
			$scope.bigdata = [];
			
			$scope.profile = {
				person: {},
				target: { id: 0 },
				current: {},
				posts: [],
				posttype: 'likes',
				dots: [],
				dotconfig: { scale: 5, dist: 50, low: $scope.conf.low, high: 50 },
				graph: { scale: 5, dist: 50 }
			};

			/* Загружает список постов по ID пользователя */
			$scope.loadPosts = function() {
				if (!_.isEmpty($scope.profile.current)) {
					$scope.conf.isBusy = true;
					vkService.wallGet($scope.profile.current.user_id, 0, 100, 1, 1).then(function(r) {
						var d = _.filter(r, function(e) { if (!_.isEmpty(e)) return e; });
						$scope.profile.posts = angular.copy(d);

						$scope.showConfetti($scope.profile.posttype);
						$scope.conf.isBusy = false;
					});
				}
			};

			/* Удаление постов */
			$scope.clearPosts = function() { $scope.profile.posts = []; };

			/* Удаление точек */
			$scope.clearDots = function() { $scope.profile.dots = []; };

			/* Возвращает количество постов по типу параметра */
			$scope.countPost = function(_type) {
				return _.filter($scope.profile.posts, function(e) { if (e.post_type == _type) return e; });
			};

			/* Строит шаблон конфети */
			$scope.showConfetti = function(_type) {
				$scope.profile.posttype = _type;
				confetti.init($scope);
			};

			/* FRIENDS */
			$scope.friends = [];
			$scope.getFriends = function(id) {
				if (!_.isEmpty(id)) {
					$scope.conf.isBusy = true;
					vkService.usersGet(id).then(function(u) {
						$scope.profile.person = angular.copy(u[0]);

						vkService.friendsGet(id, 'last_name').then(function(r) {
							$scope.friends = angular.copy(r);
							localforage.setItem('users', angular.copy(r));
						}).then(function() { $scope.conf.isBusy = false; });
					});
				}
			};

			/* INIT */
			$scope.getFriends(vk_id);

			var callTimer = 0;
			$scope.testGraph = function() {
				var friends = _.map($scope.friends, function (r) { return { uid: r.uid, name: r.last_name + ' ' + r.first_name }; });
				_.each(friends, function (f) {
					callTimer += 1000;
					$timeout(function() {
						vkService.friendsGet(f.uid, 'last_name').then(function (r) {
							if (typeof r != 'undefined' && r.length != 0) {
								$scope.bigdata.push({ uid: f.uid, name: f.name, friends: r });
								localforage.setItem(f.uid, r, function () { console.count('user'); });
							}
						});
					}, callTimer);
				});
			};

			$scope.createGraph = function () {
				var data = $scope.bigdata;
				var idArray = [];
				var ownerId = vk_id;
				var counter = 0;
				for (var i = 0; i < data.length; i++) {
					for (var j = counter; j < data.length; j++) {
						if (i !== j) {
							var current = _.compact(_.map(data[i].friends, function (f) {
								if (f.uid !== ownerId) return f.uid;
							}));
							var next = _.compact(_.map(data[j].friends, function (f) {
								if (f.uid !== ownerId) return f.uid;
							}));
							var d = _.filter(_.intersection(current, next), function(r) {
								 if (r.uid !== ownerId) return r;
							});

							if (typeof d != 'undefined' && d.length != 0) {
								_.each(d, function (e) { idArray.push(e); });
							}
						}
					}
					counter++;
				}
				idArray = _.uniq(idArray);
				_.each(data, function (e) {
					e.friends = _.compact(_.map(e.friends, function (f) { if (_.contains(idArray, f.uid)) return f; }));
				});

				graph.init(vk_id, data, 20, 4);
			};
		});
	</script>
}