@{
	ViewBag.Title = "Sigma.js";
}

@section header
{
	<h2 class="page-title">Sigma<small> is a JavaScript library dedicated to graph drawing.</small></h2>
}

<div ng-controller="sigma">

	<div id="sigma-container"></div>

</div>

@section scripts
{
	<script src="~/Scripts/sigma/sigma.min.js"></script>
	<script src="~/Scripts/sigma/plugins/sigma.layout.forceAtlas2.min.js"></script>
	<script src="~/Scripts/sigma/plugins/sigma.parsers.gexf.min.js"></script>
	<script src="~/Scripts/sigma/plugins/sigma.parsers.json.min.js"></script>
	<script src="~/Scripts/sigma/plugins/sigma.plugins.animate.min.js"></script>
	<script src="~/Scripts/sigma/plugins/sigma.plugins.neighborhoods.min.js"></script>

	<script type="text/javascript">
		
		var i, s,
			  N = 10,
			  E = 50,
			  g = {
			  	nodes: [],
			  	edges: []
			  };

		// Generate a random graph:
		for (i = 0; i < N; i++)
			g.nodes.push({
				id: 'n' + i,
				label: 'Node ' + i,
				x: Math.random(),
				y: Math.random(),
				size: Math.random(),
				color: '#666'
			});

		for (i = 0; i < E; i++)
			g.edges.push({
				id: 'e' + i,
				source: 'n' + (Math.random() * N | 0),
				target: 'n' + (Math.random() * N | 0),
				size: Math.random(),
				color: '#ccc'
			});

		// Instanciate sigma:
		s = new sigma({
			graph: g,
			container: 'sigma-container'
		});

		app.controller('sigma', function ($scope) {
			
		});
	</script>
}