.margin {
	margin: 10px;
}

.padding {
	padding: 10px;
}

.node circle {
	stroke: steelblue;
	stroke-width: 3px;
}

.node text {
	font: 12px sans-serif;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 2px;
}

div.svg {
	background: white;
	border-radius: 5px;
}

.svg svg text {
	fill: gray !important;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
	outline: 0 none !important;
	border: 1px rgb(209, 209, 209) solid !important;
	box-shadow: 0 0 0 0 gray !important;
}
