@using System.Configuration
@{
	ViewBag.Title = "D3.js";
}

@section style{
	<style>
		svg {
			border: 1px solid rgb(160, 160, 160);
		}

		.node {
			stroke-width: 1.5px;
		}

		.edge {
			stroke-width: 1px;
			fill: none;
		}
	</style>
}

<div id="ctrlzone" ng-controller="treeController" style="display: none;">

	<div class="text-danger" ng-if="vkid.length == 0" style="font-size: 16px;">
		{{ vkid }} ?id=your_id
	</div>

	<div ng-if="vkid.length != 0">
		<progressbar ng-show="lock && calcWith() != 100" class="progress-striped active" value="calcWith()" type="info">loading...</progressbar>
		<button ng-hide="lock" class="btn btn-info" ng-click="loadData()">Load Info</button>
		<button ng-hide="calcWith() != 100" class="btn btn-info" ng-click="createGraph()">Create graph</button>

		<table style="margin-top: 10px;" ng-show="calcWith() == 100" class="table table-striped table-bordered">
			<tr>
				<td>Ignore border
				</td>
				<td><input type="text" ng-model="config.ignore" style="width: 60px;" /></td>
			</tr>
			<tr>
				<td>Dot distance
				</td>
				<td><input type="text" ng-model="config.dist" style="width: 80px;" /></td>
			</tr>
			<tr>
				<td>Dot radius
				</td>
				<td><input type="text" ng-model="config.rad" style="width: 80px;" /></td>
			</tr>
		</table>

		<div style="margin-top: 20px;" svgfriend></div>
	</div>
</div>

@section scripts
{
	<script src="~/jsApp/svg.vk.profile.js"></script>
	<script type="text/javascript">
		'use sctrict';

		$(document).ready(function () { $('#ctrlzone').show(); });

		var token = '@Html.Raw(ConfigurationManager.AppSettings["vkToken"])';
		mainModule.value('vk_id', '@Html.Raw(ViewBag.ID)');

		mainModule.controller('treeController', function ($scope, $timeout, vkService, show, vk_id) {
			var myfriends = [];
			var callTimer = 0;

			$scope.vkid = vk_id;

			$scope.bigdata = [];
			$scope.load = 0;
			$scope.lock = false;
			$scope.config = {
				ignore: 150,
				dist: 30,
				rad: 5,
			};

			/* Загружает список постов по ID пользователя */
			/* FRIENDS */
			$scope.getFriends = function (id) {
				if (!_.isEmpty(id)) {
					vkService.friendsGet(id, 'last_name').then(function (r) {
						myfriends = angular.copy(r);
						localforage.setItem('users', angular.copy(r));
					});
				}
			};

			$scope.calcWith = function () {
				return $scope.load / myfriends.length * 100;
			};

			$scope.loadData = function () {
				if (!$scope.lock) {
					var friends = _.map(myfriends, function (r) { return { uid: r.uid, name: r.last_name + ' ' + r.first_name }; });
					_.each(friends, function (f) {
						callTimer += 1000;
						$timeout(function () {
							vkService.friendsGet(f.uid, 'last_name').then(function (r) {
								$scope.load++;
								if (typeof r != 'undefined' && r.length != 0) {
									$scope.bigdata.push({ uid: f.uid, name: f.name, friends: r });
								}
							});
						}, callTimer);
					});
				}
				$scope.lock = true;
			};

			$scope.createGraph = function () {
				var data = angular.copy($scope.bigdata);

				// Проверяем границу дозволенности по количеству френдов
				if ($scope.config.ignore != 0) {
					_.each(data, function (d) {
						if (d.friends.length > $scope.config.ignore) {
							d.friends = [];
						}
					});
				}
				// Получаем список ID которые всречаются более одного раза, 
				// на основе него выираем нужных нам людей
				var idArray = getListIntersection(data, vk_id);
				_.each(data, function (e) {
					e.friends = _.compact(_.map(e.friends, function (f) {
						if (_.contains(idArray, f.uid))
							return f;
					}));
				});

				var groupId = 1,
					graph = { links: [], nodes: [], },
					target = { uid: parseInt(vk_id), name: 'target', group: 1 };

				graph.nodes.push(target);

				_.each(data, function (e) {
					if (e.friends.length != 0) {
						groupId++;

						// проход родитель
						var p = { uid: e.uid, name: e.name.toString(), group: groupId };
						if (!isNodeExist(graph.nodes, p)) graph.nodes.push(p);
						var plink = { source: target.uid, target: p.uid };
						if (!isLinkExist(graph.links, plink)) graph.links.push(plink);

						// проход по детям
						_.each(e.friends, function (f) {
							var node = { uid: f.uid, name: f.last_name + ' ' + f.first_name, group: groupId };
							if (!isNodeExist(graph.nodes, node)) graph.nodes.push(node);

							var link = { source: p.uid, target: node.uid };
							if (!isLinkExist(graph.links, link)) graph.links.push(link);
						});
					}
				});

				var w = function () { return $('div[svgfriend]').parent().width(); };
				var h = 1500;
				
				// Создаем граф
				forcedgraph.init(w(), h, 'svgfriend', graph);
				forcedgraph.start($scope.config.dist, $scope.config.rad);
			};

			$scope.createTable = function () {
				var idArray = getListIntersection($scope.bigdata, vk_id);
				_.each(idArray, function (e) {

				});

				graph.init(vk_id, data, config.dist, 4);
			};

			/* Возвращает список друзей которые пересекаются */

			function getListIntersection(data, ownerId) {
				var idArray = [];
				var counter = 0;
				for (var i = 0; i < data.length; i++) {
					for (var j = counter; j < data.length; j++) {
						if (i !== j) {
							var current = _.compact(_.map(data[i].friends, function (f) {
								if (f.uid !== ownerId)
									return f.uid;
							}));
							var next = _.compact(_.map(data[j].friends, function (f) {
								if (f.uid !== ownerId)
									return f.uid;
							}));
							var d = _.filter(_.intersection(current, next), function (r) {
								if (r.uid !== ownerId)
									return r;
							});

							if (typeof d != 'undefined' && d.length != 0) {
								_.each(d, function (e) { idArray.push(e); });
							}
						}
					}
					counter++;
				}
				return _.uniq(idArray);
			}
			
			function isNodeExist(nodes, node) {
				var r = _.filter(nodes, function (n) {
					if (n.uid == node.uid) return n;
				});

				if (r.length != 0) return true;
				else return false;
			}

			function isLinkExist(links, link) {
				var r = _.filter(links, function (l) {
					if (l.source == link.source && l.target == link.target ||
						l.source == link.target && l.target == link.source)
						return l;
				});

				if (r.length != 0) return true;
				else return false;
			}

			/* INIT */
			$scope.getFriends(vk_id);
		});
	</script>
}